* {
  margin: 0px;
  padding :0px;
}

html {
  font-family: Cousine, monospace;
  font-size: 0.75em;
  line-height: 18px;
  color: #333;
}

p {
  margin: 0px;
  padding: 0px;
}

p:first-child {
  margin: 0px 0px 10px 0px;
}

#allencompassingnihilism {
  display: table;
  position: absolute;
  width: 100%;
  height: 100%;
}

#inevitabledeath {
  display: table-cell;
  vertical-align: middle;
}

#dreadforthefuture {
  margin: 0px auto;
  width: 500px;
  text-align: justify;
}

#citation {
  margin: 10px 0px 0px 0px;
  text-align: right;
  font-style: italic;
  color: #666;
}
